nav ul {
    display: flex;
    background-color: #fcbf49;
    margin-block-start: 0;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul li {
    list-style-type: none;
    margin-right: 16px;
}

.right-edge-pusher {
    margin-left: auto;
}

.PostSnippet--container {
    outline: solid red;
    width: 75%;
}

.PostSnippet--container > h4 {
    padding-left: 10px;
    padding-bottom: 20px;
}

.PostSnippet--top-row {
    display: flex;
}

.PostSnippet--top-row > h3 {
    padding-right: 20px;
}

.PostSnippet--top-row > h2 {
    padding-left: 10px;
}