body {
    font-family: 'Chivo Mono', monospace;
    color: #2e1400;
}

a:visited, a:link, a:active {
    text-decoration: none;
    color: #2e1400;
}

a:hover {
    text-decoration: #2e1400;
}

nav ul {
    display: flex;
    background-color: #fcbf49;
    margin-block-start: 0;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul li {
    list-style-type: none;
    margin-right: 16px;
}

.right-edge-pusher {
    margin-left: auto;
}

.PostSnippet--container {
    /* outline: solid red; */

    width: 75%;
    margin: auto;

    background-color: #fcfca1;
}

.PostSnippet--container > h4 {
    padding-left: 10px;
    padding-bottom: 20px;
}

.PostSnippet--top-row {
    display: flex;
}

.PostSnippet--top-row > h3 {
    padding-right: 20px;
}

.PostSnippet--top-row > h2 {
    padding-left: 10px;
}